.customUl {
  display: flex;
  align-items: baseline;
  background-color: aliceblue;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;

  .secondItem {
    flex-direction: column;
    .itemCom {
      margin: 10px 0;
      flex-direction: column;
      width: 100%;
      background-color: rgb(244, 211, 211);

      & div {
        display: flex;
        align-items: baseline;
        justify-content: space-around;
        // width: 100%;
        padding: 10px;
      }
      .customUl {
        background-color: rgb(233, 77, 77);
        padding: 15px;
        margin: 10px;
      }
    }
  }

  // li.content {
  //   display: flex;
  //   align-items: baseline;
  // }
}
