.customUl {
  padding: 15px;
  margin: 10px 0;
  .firstItem,
  .secondItem {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    cursor: pointer;

    .content {
      text-align: center;
      padding: 0 20px;
      a {
        text-decoration: none;
        color: inherit;
      }
    }

    .author {
      background-color: rgb(166, 156, 156);
      padding: 5px;
      width: 50px;
      height: 50px;
      min-width: 50px;

      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
    }
  }

  .secondItem {
    flex-direction: column;
    .itemCom {
      margin: 10px 0;
      display: flex;
      align-items: baseline;
      justify-content: space-around;

      padding: 10px;
      background-color: rgb(244, 211, 211);
    }
  }
}
