.customUl {
  padding: 15px;
  margin: 10px 0;
  .firstItem,
  .secondItem {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    cursor: pointer;
    padding: 10px;
    .content {
      text-align: center;
      padding: 0 20px;
      a {
        text-decoration: none;
        color: inherit;
      }
    }

    .author {
      background-color: rgb(166, 156, 156);
      padding: 5px;
      width: 50px;
      height: 50px;
      min-width: 50px;

      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
    }
  }
}
